<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title></title>
</head>
<body>

	<h1 class="nav justify-content-center alert alert-primary">ОГБПОУ Рязанский политехнический колледж</h1>
	<h2 class="nav justify-content-center alert alert-warning">Дистанцинное обучение</h2>
	
	<h3>Задания для группы: <%= @grp %></h3>
	<% @file = File.open("./data.txt", "r")%>

	<a href="/" class="btn btn-primary btn-sm">На главную страницу</a>
	<p></p>
	<table border="1" class="table table-sm">
		<caption>Текущие задания</caption>
		<tr>
			<td>Преподаватель</td>
			<td>Группа</td>
			<td>Дисциплина</td>
			<td>Задание</td>
		</tr>
		<% @file.each_line do |line| %>
			<% t1,t2,t3,t4 = line.split("|") %>
			<% if t2 == @grp %>
				<tr>
					<td><%= t1 %></td>
					<td><%= t2 %></td>
					<td><%= t3 %></td>
					<td><%= t4 %></td>
				</tr>
			<% end %>
		<% end %>
	</table>
	<p></p>
	<a href="/" class="btn btn-primary btn-sm">На главную страницу</a>

</body>
</html>